{% extends 'base/base.html' %}
{% block content %}
            <section id="donate_two">
                <div class="overlay">
                    <div class="donate-information-container">
                        <h2>GIVE FUTURE</h2>
                    </div>
                </div>
            </section>
            <section id="donate-two-information">
                <div class="donate-information">
                    <p>There are many children in the world who face difficult circumstances and are deprived of parental care. They are like melons in the wide ocean of life who need help and support to successfully navigate the waves of difficulties and create their own happy future.</p>

                    <p>One of the greatest gifts we can give them is education. Education is the key to discovering new opportunities and expanding their horizons. When we give them knowledge, skills and educational opportunities, we open doors to better and more sustainable future careers.</p>

                    <p>Children in need also need emotional support and stability. It is important for them to feel loved, protected and accepted. Even small gestures of care and attention can make a big difference in their lives. Take the time to listen to their stories and give them space to express their feelings.</p>

                    <p>In addition, mentoring can have a significant impact on their future. If you have the opportunity, become a mentor to these children and encourage them to develop their talents and skills. Provide them with support and guidance along the way to achieving their goals, supporting them to strive for success and not give up in the face of challenges.</p>

                    <p>Give them faith in themselves and in their abilities. When we believe in them and encourage them to be current and future leaders, they feel important and special. Real support and belief can build their self-esteem and make them go out into the world with confidence.</p>

                    <p>Creating a mentality of community and support around these children is essential. Team up with like-minded people to empower children in need and build a strong network of support. You can organize events and campaigns aimed at attracting attention and resources that will give children a better start in life.</p>

                    <p>Give a future to children deprived of parental care, because each one of them deserves to have their chance for achievement and a happy future. Their potential is inexhaustible, and with your support and love, they can achieve great things and make the world a better place for us all.</p>

                    <span><a class="btn btn-primary btn-lg" href="{% url 'about' %}">Learn more...</a></span>
            </div>
            </section>
{% endblock %}