{% extends 'base/base.html' %}
{% block content %}
            <section id="donate_three">
                <div class="overlay">
                    <div class="donate-information-container">
                        <h2>GIVE EDUCATION</h2>
                    </div>
                </div>
            </section>
            <section id="donate-three-information">
                <div class="donate-information">
                    <p>In education lies the power to change the world and ensure a better future for all children. But this right to education is not available to everyone. Among us there are children who are deprived of parental support and care, and their educational opportunities are limited. In this world of inequalities, let us embrace education as the key to their future and give knowledge to those who need it most.</p>

                    <p>Education has the ability to free the minds and hearts of children, equipping them with skills and knowledge that will help them build stable and successful careers. Let's support these children and give them the opportunity to develop, educate themselves and use their skills to find meaning in life and make a difference in the world around them.</p>

                    <p>The road to education can be difficult for children without parents, but with our support and commitment we can inspire them to fight for their rights and opportunities. Mentoring plays an important role in this process – to be a guiding light that will make them believe in their abilities and move forward even when the difficulties are insurmountable.</p>

                    <p>Give them the love of education by giving them access to educational resources, books, computers and other tools that will encourage them to learn and develop their skills. Share your knowledge with them, be their teacher, mentor and friend who will encourage them to explore the world and learn to dream big.</p>

                    <p>Building educational programs and initiatives aimed at children deprived of parental care is also essential. These programs can create structure and support for them to develop their talents and prepare for their future challenges. By giving them the opportunity to learn, develop and assert themselves, we will see these children grow into strong and confident individuals.</p>

                    <p>Donate education to children deprived of parental care, because education opens doors to a better and brighter future. Let's collaborate to create educational opportunities to help these children become world-changing adults, ready to achieve their dreams and contribute to society. With one donation of education, we can make an incredible difference in the lives of these children and build a fairer and more equal world for all.</p>

                    <span><a class="btn btn-primary btn-lg" href="{% url 'about' %}">Learn more...</a></span>
            </div>
            </section>
{% endblock %}