{% extends 'base/base.html' %}
{% block content %}
            <section id="donate_four">
                <div class="overlay">
                    <div class="donate-information-container">
                        <h2>GIVE HAPPINESS</h2>
                    </div>
                </div>
            </section>
            <section id="donate-three-information">
                <div class="donate-information">
                    <p>In the heart of every child lies a desire for happiness and joy. But life is not always fair and some children are deprived of parental love and care. Let these children not feel abandoned and alone in the world, let us surround with love and give happiness to those who need it the most.</p>

                    <p>Happiness and joy come from the simple things in life. One hug, one smile, one fun playtime can make a big difference in a child's life. Show them that they are loved and accepted, and that despite the hardships they have experienced, they deserve a happy childhood.</p>

                    <p>Give them love and attention by being their friend and mentor. Take the time to listen to them, take an interest in their dreams and aspirations, and help them develop their talents. When children feel supported and understood, they find happiness in every little thing in life.</p>

                    <p>Create moments of joy and excitement for them. Organize games, outings, walks or other entertainment that will make them forget their problems and smile. See the world through their eyes and discover what makes them happy.</p>

                    <p>Education is also key to a happy future for these children. Provide them with educational opportunities that will help them develop their potential and achieve success in life. Education is not only knowledge, but also a tool for building self-esteem and belief in one's own abilities.</p>

                    <p>Don't forget the power of giving. A toy, book, or piece of clothing given with heart can develop a sense of affection and affection in a child. Let these small acts of kindness grow into a community approach where we all care and support children deprived of parental care.</p>

                    <p>Give happiness to children deprived of parental care, because every child deserves to be happy and loved. With our support, love and care, we can make a difference in the lives of these children and help them find joy and meaning in their lives. Every child is precious and special and we have an obligation to encourage them to be happy and successful.</p>

                    <span><a class="btn btn-primary btn-lg" href="{% url 'about' %}">Learn more...</a></span>
            </div>
            </section>
{% endblock %}