{% extends 'base/base.html' %}
{% block content %}
            <section id="donate_one">
                <div class="overlay">
                    <div class="donate-information-container">
                        <h2>GIVE LOVE</h2>
                    </div>
                </div>
            </section>
            <section id="donate-one-information">
                <div class="donate-information">
                    <p>Among the most tender flowers of our life are children, but not all of them have a chance to grow up with parental love and care. Some find themselves deprived of this valuable support and forced to face life's difficulties alone. In these dark moments of their journey, we can become the light that illuminates their path and reassures them that they are not alone.</p>

                    <p>For these children, life can be like an endless mix of challenges and emotions. But let's ask ourselves – what can we do to help? The first and most important step is to give them the warmth of heart and understanding that they lack. Every moment we spare for them is like a drop of rain in the desert of their existence.</p>

                    <p>Give them your love by showing them that you see them and understand that they are valued and worthy of love. Just through your audience you can make a big difference. Devote time to games, conversations and shared moments to create a smile on the face of the child who has known the sadness of separation.</p>

                    <p>Show them that there are good and caring people in the world who love and support them. Help them discover their path and talents, feel the joy of their successes and not give up in the face of life's challenges. Be an inspiration to them and an example of strength of spirit and good heart.</p>

                    <p>Give them the opportunity to dream and believe that dreams do come true if they fight and don't give up. Help them feel loved and adopt ways to build healthy self-esteem and self-confidence.</p>

                    <p>And don't forget that even small acts of kindness can mean a lot to these children. You can donate a book, food, clothes or shoes to show that you are here to help. Only a heart full of kindness can change a child's life and encourage him to believe in a better future.</p>

                    <p>Give love to children deprived of parental care, because every child deserves to be loved and cared for. Your kindness and your transition can be like a ray of sunshine, piercing even the darkest corners of their world. Let's not forget that our love can</p>

                    <span><a class="btn btn-primary btn-lg" href="{% url 'about' %}">Learn more...</a></span>
            </div>
            </section>
{% endblock %}